body {
  display: flex;
  /* background-color: aqua; */
  background-image: url(assets/images/max-kleinen-dVYGdp34BTU-unsplash.jpg);
}

h1 {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: left;
  border-color: black;
  border-style: solid;
  border-bottom: none;
  border-radius: 3rem;
  margin: auto;
  margin-top: 10%;
  background-color: blueviolet;
  opacity: 0.94;
}
.clickedCorrect {
  color: red;
}

.heading {
  padding: 2rem;
}

input[type="radio"] {
  width: 3rem;
  height: 1.3rem;
}
.next1 {
  position: relative;
  border-radius: 2rem;
  font-size: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: darkblue;
  border-color: black;
  color: white;
}

p {
  font-size: 2rem;
}

.rbutton {
  position: relative;
  width: 100%;
  height: fit-content;
  border-radius: 2rem;
  text-align: justify;
  font-size: 1.5rem;
  margin: 0.5rem 0 0.5rem 0;
  padding-left: 2rem;
}
